In [3]:
str = input("Enter your state of origin: ")

print ("Your state of origin is: ", str)
print ("The first character is: ", str[0])
print ("The characters starting from 3rd to 5th are: ", str[2:5])
print ("The string starting from 3rd character is: ", str[2:])
print ("State of origin two times: ", str * 2)

Your state of origin is:  enugu
The first character is:  e
The characters starting from 3rd to 5th are:  ugu
The string starting from 3rd character is:  ugu
State of origin two times:  enuguenugu

In [4]:
m = float(input("Enter mass in kilograms: "))
c = 299792458
energy = m * c  ** 2
print(f"The energy equivalent to {m} kg of mass is {energy} joules.")

The energy equivalent to 56.0 kg of mass is 5.033029000926178e+18 joules.

In [5]:
list = ['Anaconda', 786, 2.23, 'Jupyter', 70.2 ]
shortlist = [321, 'Python']

print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(shortlist * 2)
print(list + shortlist)

['Anaconda', 786, 2.23, 'Jupyter', 70.2]
Anaconda
[786, 2.23]
[2.23, 'Jupyter', 70.2]
[321, 'Python', 321, 'Python']
['Anaconda', 786, 2.23, 'Jupyter', 70.2, 321, 'Python']

In [ ]:
tuple = ("Ekiti", 750, 'Oshogbo', 250, "Akure", 500)
s_tuple = ("Abeokuta", 300, "Ogbomoso")

# Prints the complete tuple
print(tuple)

# Prints last element of the tuple
print(tuple[-1])

# Prints elements of the tuple starting from 2nd till 3rd
print(tuple[2:4])

# Prints elements of the tuple starting from 3rd element
print(tuple[3:])

# Prints the contents of the tuple thrice
print(s_tuple * 3)

# Prints concatenated tuples
print(tuple + s_tuple)

('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500)
500
('Oshogbo', 250)
(250, 'Akure', 500)
('Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso')
('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500, 'Abeokuta', 300, 'Ogbomoso')

In [7]:
# Returns false as game_1 is not equal to game_2
game_1 = 2
game_2 = 4
print(bool(game_1 == game_2))
# Or
print(game_1 == game_2)

# Returns False as val is None
val = None
print(bool(val))

# Returns false as num is an empty sequence
num = ()
print(bool(num))

# Returns true as age is boolean
age = True
print(bool(age))

False
False
False
False
True

In [8]:
# Convert to int

grade = int(70)
gpa = int(4.9)
cgpa = int("4")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 70
GPA = 4
CGPA = 4

In [9]:
# Convert to float

grade = float(97)
gpa = float(5)
cgpa = float("4.7")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 97.0
GPA = 5.0
CGPA = 4.7